@import "../../styles/variables";

.hero {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding-top: 40px;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blue-empty {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 800px;
  background-color: $darkBlue;
  z-index: 1;
}
.hero::before {
  z-index: 2;
  position: absolute;
  left: -400px;
  top: 0;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  content: "";
  background: rgba(255, 255, 255, 0.2);
  filter: blur(250px);
}
.hero::after {
  z-index: 2;
  position: absolute;
  right: -300px;
  top: -200px;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  content: "";
  background: rgba(255, 255, 255, 0.2);
  filter: blur(250px);
}
@media (max-width: $desktopMedium) {
  .hero {
    padding-top: 25px;
  }

  .blue-empty {
    height: 750px;
  }
}
@media (max-width: $tabletBig) {
  .hero {
    padding: 0;
  }
}
@media (max-width: $tabletMedium) {
  .blue-empty {
    height: 600px;
  }
}
