$desktopBig: 1900;
$desktopMedium: 1600;
$desktopSmall: 1400;
$tabletBig: 1200;
$tabletMedium: 850px;
$smartphone: 500px;

$primary: #ffffff;
$purple: #6a4bff;
$secundary: #f2f2ff;
$gray: #969696;
$darkBlue: #00218f;
$heading: #0c0047;
$headingSecundary: #343434;
$star: #ef7420;
