@import "../../styles/variables";
.solution {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 80px;
  p {
    color: #969696;
  }
  .solution-box-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
  }
}
@media (max-width: $desktopSmall) {
  .solution {
    padding: 0 40px;

    p {
      font-size: 0.9rem;
    }
  }
}
@media (max-width: $smartphone) {
  .solution {
    align-items: flex-start;
    padding: 0 10px;
  }
}
