@import "../../../../styles/variables";
.toogle {
  background: #f2f2ff;
  border-radius: 48px;
  width: 90px;
  height: 40px;
  position: relative;
  cursor: pointer;
  .ball {
    position: absolute;
    background: #152c5b;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: calc(50% - 15px);
    transition: 0.4s;
  }

  .false {
    left: 5px;
  }
  .true {
    left: calc(100% - 35px);
  }
}
@media (max-width: $tabletMedium) {
  .toogle {
    width: 75px;
    height: 32px;
    .ball {
      width: 25px;
      height: 25px;
      top: calc(50% - 12.5px);
    }
    .false {
      left: 5px;
    }
    .true {
      left: calc(100% - 30px);
    }
  }
}
